extends layout

block content
  h1 #{user.name} (#{user.age})
  p Bio: #{user.bio}
  h2 Artworks (#{user.artworksList.length})

  each photo in user.artworksList
    h3 #{artwork.artworkName}
    if artwork.likedBy.length == 0
      p no likes yet!
    else
      p #{artwork.likedBy.map(user => user.name).join(', ')}
